/*
    Document   : questiongame.css
    Created on : 2015-02-26 06:58 PM
    Author     : Josielikesbarca
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
body {
    background-color: #FFFF66;
}
    * {  
 font-family: 'Indie Flower', cursive;

  }